<section>
  <div class="container">
    <div class="logo">
      <img src="assets/image/logo/logo.png" alt="Logo" />
      <p>Coupon</p>
    </div>
    <!-- Step 1: Enter Email -->
    <div *ngIf="step === 1" class="form-container">
      <div class="logo-container">Forgot Password</div>
      <form class="form" [formGroup]="emailForm" (ngSubmit)="sendOtp()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
          <div
            *ngIf="
              emailForm.get('email')?.touched && emailForm.get('email')?.invalid
            "
          >
            <small *ngIf="emailForm.get('email')?.errors?.['required']">
              Email is required.
            </small>
            <small *ngIf="emailForm.get('email')?.errors?.['email']">
              Enter a valid email address.
            </small>
          </div>
        </div>
  
        <button
          class="form-submit-btn"
          type="submit"
          [disabled]="isSendOtp || emailForm.invalid"
          [style.backgroundColor]="emailForm.invalid ? 'lightgray' : '#fab400'"
          [style.color]="emailForm.invalid ? '#999' : 'white'"
        >
          Send Email
        </button>
      </form>
  
      <p class="signup-link">
        Don't have an account?
        <a routerLink="/register" class="signup-link link">Sign up now</a>
      </p>
    </div>
  
    <!-- Step 2: Enter OTP -->
    <div *ngIf="step === 2" class="otp-Form">
      <span class="mainHeading">Enter OTP</span>
      <p class="otpSubheading">
        We have sent a verification code to your mobile number
      </p>
      <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <div class="inputContainer">
          <input
            required="required"
            maxlength="1"
            type="text"
            class="otp-input"
            id="otp-input1"
            formControlName="otp1"
            (input)="moveFocus($event, 1)"
          />
          <input
            required="required"
            maxlength="1"
            type="text"
            class="otp-input"
            id="otp-input2"
            formControlName="otp2"
            (input)="moveFocus($event, 2)"
          />
          <input
            required="required"
            maxlength="1"
            type="text"
            class="otp-input"
            id="otp-input3"
            formControlName="otp3"
            (input)="moveFocus($event, 3)"
          />
          <input
            required="required"
            maxlength="1"
            type="text"
            class="otp-input"
            id="otp-input4"
            formControlName="otp4"
            (input)="moveFocus($event, 4)"
          />
          <input
            required="required"
            maxlength="1"
            type="text"
            class="otp-input"
            id="otp-input5"
            formControlName="otp5"
            (input)="moveFocus($event, 5)"
          />
          <input
            required="required"
            maxlength="1"
            type="text"
            class="otp-input"
            id="otp-input6"
            formControlName="otp6"
            (input)="moveFocus($event, 6)"
          />
        </div>
        <button
          class="verifyButton"
          type="submit"
          [disabled]="otpForm.invalid"
          [ngClass]="{ 'pale-button': otpForm.invalid }"
        >
          Verify
        </button>
      </form>
      <p *ngIf="otpTimer > 0">
        Resend OTP in <strong>{{ otpTimer }}</strong> seconds
        <button
          *ngIf="otpTimer === 0"
          class="resendBtn"
          type="button"
          (click)="sendOtp()"
        >
          Resend Code
        </button>
      </p>
    </div>
  
    <!-- Step 3: Change Password -->
    <div *ngIf="step === 3" class="form-container">
      <div class="logo-container">Change Password</div>
      <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            formControlName="newPassword"
            type="password"
            placeholder="Enter your new password"
          />
          <div
            *ngIf="
              passwordForm.get('newPassword')?.touched &&
              passwordForm.get('newPassword')?.invalid
            "
          >
            <small *ngIf="passwordForm.get('newPassword')?.errors?.['required']"
              >New password is required.</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm your new password"
          />
          <div
            *ngIf="
              passwordForm.get('confirmPassword')?.touched &&
              passwordForm.get('confirmPassword')?.invalid
            "
          >
            <small
              *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
              >Confirm password is required.</small
            >
            <small
              *ngIf="passwordForm.get('confirmPassword')?.errors?.['passwordMismatch']"
              >Passwords do not match.</small
            >
          </div>
        </div>
        <button
          class="form-submit-btn"
          type="submit"
          [disabled]="passwordForm.invalid"
          [style.backgroundColor]="passwordForm.invalid ? 'lightgray' : '#fab400'"
          [style.color]="passwordForm.invalid ? '#999' : 'white'"
        >
          Change Password
        </button>
      </form>
    </div>
  </div>
  
</section>